.areachartsvg {
  width: 800px;
  height: 600px;
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}


#areachart {
    float: left;
    display: inline;
}

#areachartlegend {
    float: right;
}
